@font-face {
    font-family: 'Custom';
    src: url('./fonts/HussarBoldWeb-bf92.woff') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'Custom2';
    src: url('./fonts/PhongphraiDEMO-Black-2c90.woff2') format('truetype');
    src: url('./fonts/PhongphraiDEMO-Black-a68d.woff') format('truetype');
    src: url('./fonts/PhongphraiDEMO-BlackItalic-d600.woff') format('truetype');
    src: url('./fonts/PhongphraiDEMO-BlackItalic-e86f.woff2') format('truetype');
    font-weight: 400;
    font-weight: 100;
    font-weight: 200;
    font-weight: 500;
    font-style: normal;
  }