@import "./fonts";
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  // font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  // Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // font-family: 'Custom', sans-serif,  "Courier New",;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body {
  // background-color: #122121;
  // background-color: #0a0a0a;
  background-color: #141414; //good
  // background-color: #1d1e1f;
  // background-color: #e5eaf3;//text color
  // background-color: #cfd3dc; secondary text color
  // background-color: #8d9095; placehonder color
  // background-color: #f56c6c;

  color: #fff;
  // max-width: 1280px;
  // margin: 0 auto;
}
.nav {
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
  height: 50px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__black {
  background-color: rgb(222, 179, 7);
  // background: transparent;
  // opacity: 20%;
  color: #000;
}
